{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ page.title }}">
{% if page.description %}
<meta name="description" content="{{ page.description }}"/>
<meta property="og:description" content="{{ page.description }}"/>
{% endif %}
{% if page.image %}
<meta property="og:image" content="{{ page.image }}"/>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="sidebar-block">
  <span class="block-title">Tags</span>
  <ul class="tags">
    {% for tag in page.tags %}
      <li><a href="/tags/{{ tag }}/">{{ tag | replace('-', ' ') }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="sidebar-block">
  <span class="block-title">Created</span>
  <time datetime="{{ page.created.strftime('%Y-%m-%d') }}" pubdate>{{ page.created.strftime('%B %d, %Y') }}</time>
</div>
{% if page.modified and page.modified != page.created %}
<div class="sidebar-block">
  <span class="block-title">Modified</span>
  <time datetime="{{ page.modified.strftime('%Y-%m-%d') }}">{{ page.modified.strftime('%B %d, %Y') }}</time>
</div>
{% endif %}
<div class="sidebar-block">
  <span class="block-title">Edit</span>
  <a href="https://github.com/nanvel/blog/blob/master/{{ page.uri }}.md" target="_blank">&#x270D;&nbsp; edit on GitHub</a>
</div>
{% endblock %}

{% block content %}
  <article>
    {{ page.html | safe }}
    <time datetime="{{ page.created.strftime('%Y-%m-%d') }}" pubdate></time>
    <div class="license">
      Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" class="creative-commons">CC BY-SA 3.0</a>
    </div>
  </article>
{% endblock %}
