{% extends 'base.html' %}

{% block title %}{{ current_tag | replace('-', ' ') }} - tags{% endblock %}

{% block sidebar %}
<div class="sidebar-block">
  <span class="block-title">Tags</span>
  <ul class="tags">
    {% for tag in all_tags %}
      {% if tag != current_tag %}
        <li><a href="/tags/{{ tag }}/">{{ tag | replace('-', ' ') }}</a></li>
      {% else %}
        <li class="selected"><a href="#">{{ tag | replace('-', ' ') }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
  <ul class="pages">
    {% for page in pages %}
      <li><a href="/{{ page.uri }}/">{{ page.title }}</a> <span>{{ page.created.strftime('%B %d, %Y') }}</span></li>
    {% endfor %}
  </ul>
{% endblock %}
